.banner{
	background-image: linear-gradient(-225deg, rgba(2, 24, 226, 0.8) 0%, rgba(2, 24, 226, 0.2) 50%), url("../../image/background.jpg");
	color: white;
	padding: 180px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1{
	font-size: 80px;
}

.banner h2{
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}